body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
/* Das ist ein Kommentar. */
img {
    border-radius: 12px;
}

a {
    font-weight: bold; 
    color: red;
    cursor: auto;
    text-decoration: underline
}

button {
    border-style: dashed;
    font-size: 24px;
}

h1 {
    opacity: 0.5;
}

.my-superclass {
    text-decoration: underline;
}